<a href="https://colab.research.google.com/github/sukawatd/sukawatd/blob/main/SuperAI_SS3_Problem_Solving_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook prepared by Sattaya Singkul.

For more information, please contact: sattaya.sin@speechance-tech.com
or https://www.linkedin.com/in/sattaya-singkul/

# Welcome

In this tutorial, we will cover:

* Basic Python: Basic data types, Functions, Classes
* (Optional) Numpy: Arrays, Array indexing, Datatypes, Array math, Broadcasting
* (OPtional) Matplotlib: Plotting, Subplots, Images

# Notebooks

This week, we will use Jupyter notebooks and Google colab as the primary way to practice machine learning. Notebooks are a great way to mix executable code with rich contents (HTML, images, equations written in LaTeX). Colab allows to run notebooks on the cloud for free without any prior installation, while leveraging the power of [GPUs](https://en.wikipedia.org/wiki/Graphics_processing_unit).

The document that you are reading is not a static web page, but an interactive environment called a notebook, that lets you write and execute code. Notebooks consist of so-called code cells, blocks of one or more Python instructions. For example, here is a code cell that stores the result of a computation (the number of seconds in a day) in a variable and prints its value:

In [ ]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

Click on the "play" button to execute the cell. You should be able to see the result. Alternatively, you can also execute the cell by pressing Ctrl + Enter if you are on Windows / Linux or Command + Enter if you are on a Mac.

Variables that you defined in one cell can later be used in other cells:

In [ ]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

Note that the order of execution is important. For instance, if we do not run the cell storing *seconds_in_a_day* beforehand, the above cell will raise an error, as it depends on this variable. To make sure that you run all the cells in the correct order, you can also click on "Runtime" in the top-level menu, then "Run all".

**Exercise.** Add a cell below this cell: click on this cell then click on "+ Code". In the new cell, compute the number of seconds in a year by reusing the variable *seconds_in_a_day*. Run the new cell.

# Python

Python is one of the most popular programming languages for machine learning, both in academia and in industry. As such, it is essential to learn this language for anyone interested in machine learning. In this section, we will review Python basics.

In [ ]:
x = 10
x+10

20

In [ ]:
# directory to save/install python packages
import pandas as pd
pd.__file__

'/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'

## Arithmetic operations

Python supports the usual arithmetic operators: + (addition), * (multiplication), / (division), ** (power), // (integer division).

In [ ]:
x = 100

In [ ]:
print(x)

100

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x / 2)   # Division
print(x ** 2)   # Exponentiation
print(x // 2)   # Floor division
print(x % 2)   # Modulus

101
99
200
50.0
10000
50
0

In [ ]:
type(x/2)

float

In [ ]:
x = 100
x = x+1
x

101

In [ ]:
x += 1 # x = x+1
print(x)
x *= 2 # x = x*2
print(x)

102
204

In [ ]:
y = 2.5
print(type(y)) # float
print(y, "\n", y + 1, y * 2, y ** 2)

<class 'float'>
2.5
 3.5 5.0 6.25

In [ ]:
a = 3
print(type(a)) # int
print(a/3)
print(type(a/3)) # float

<class 'int'>
1.0
<class 'float'>

In [ ]:
import math

In [ ]:
x = 26
x = x/10
round(x)*10

30

In [ ]:
x = 200
print("%05d" % x)

00200

In [ ]:
int(2.9)

2

In [ ]:
int(2.9), round(2.9)

(2, 3)

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

## Boolean

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t = True
f = False

t, f = True, False

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

In [ ]:
x = 1
x == 10

False

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

## Lists

![image.png]()

Lists are a container type for ordered sequences of elements. Lists can be initialized empty

In [ ]:
my_list = []
my_list = list()
print(my_list)

[]

or with some initial elements

In [ ]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

Lists have a dynamic size and elements can be added (appended) to them

In [ ]:
my_list.append(4)
my_list

[1, 2, 3, 4]

We can access individual elements of a list (indexing starts from 0)

In [ ]:
my_list[0]

1

In [ ]:
my_list[2]

3

In [ ]:
my_list = [1, 2, 3, 10, 2, 4, 8, 10, 12]
my_list = [1.0, 2.0, 1, 7, "str09"]
my_list[-1]

12

We can access "slices" of a list using `my_list[i:j]` where `i` is the start of the slice (again, indexing starts from 0) and `j` the end of the slice. For instance:

In [ ]:
my_list[0:3]

[1, 2, 3]

In [ ]:
my_list[1:3]

[2, 3]

Omitting the second index means that the slice shoud run until the end of the list

In [ ]:
my_list[1:]

[2, 3, 10, 2, 4, 8, 10, 12]

We can check if an element is in the list using `in`

In [ ]:
2 in my_list

True

In [ ]:
my_list.index(2)

1

The length of a list can be obtained using the `len` function

In [ ]:
len(my_list)

9

In [ ]:
my_list[-1]

12

In [ ]:
my_list.insert(-1, 13)

In [ ]:
my_list

[0, 1, 2, 3, 10, 2, 4, 8, 10, 13, 12]

In [ ]:
my_list[1:8]

[1, 2, 3, 10, 2, 4, 8]

In [ ]:
my_list[1:8:2]

[1, 3, 2, 8]

In [ ]:
sorted(my_list)

[0, 1, 2, 2, 3, 4, 8, 10, 10, 12, 13]

In [ ]:
my_list = [[0,7,2],[1,5,1]]
sorted(my_list)

[[0, 7, 2], [1, 5, 1]]

## Strings

![image.png]()

Strings are used to store text. They can delimited using either single quotes or double quotes

In [ ]:
string1 = "some text"
string2 = 'some other text'

In [ ]:
string2

'some other text'

Strings behave similarly to lists. As such we can access individual elements in exactly the same way

In [ ]:
string1[3]

'e'

and similarly for slices

In [ ]:
string1[5:]

'text'

String concatenation is performed using the `+` operator

In [ ]:
"J" + "O"

'JO'

In [ ]:
string1 + " " + string2

'some text some other text'

In [ ]:
print(f"{string1[0]} {string2}")

s some other text

In [ ]:
print("{} {}".format(string1, string2))

some text some other text

In [ ]:
st = f"{string1[0]} {string2}"
st

's some other text'

In [ ]:
st = float("{:.2f}".format(9.2654))
st

9.27

In [ ]:
"Jo" * 10

'JoJoJoJoJoJoJoJoJoJo'

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(f"Capitalize: {s.capitalize()}")  # Capitalize a string
print(f"Upper: {s.upper()}")       # Convert a string to uppercase
print(f"Right-justify: {s.rjust(7)}")      # Right-justify a string, padding with spaces
print(f"Center: {s.center(7)}")     # Center a string, padding with spaces
print(f"Replaced: {s.replace('l', '(ell)')}")  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Capitalize: Hello
Upper: HELLO
Right-justify:   hello
Center:  hello
Replaced: he(ell)(ell)o
world

In [ ]:
s = "./music1.mp3".replace(".mp3", ".wav")
s

'./music1.wav'

## Conditionals

As their name indicates, conditionals are a way to execute code depending on whether a condition is True or False. As in other languages, Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

In [ ]:
bool(0)

False

In [ ]:
import numpy as np
np.nan # None, Nan, '', 'null'

nan

In [ ]:
x = None
# x = 10
if x: print("Yesssssss")

In [ ]:
my_variable = 2
if my_variable > 0:
  print("positive")
elif my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else: # my_variable > 0
  print("not in condition")

positive

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

Contrary to other languages, blocks of code are delimited using indentation. Here, we use 2-space indentation but many programmers also use 4-space indentation. Any one is fine as long as you are consistent throughout your code.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

While loop

In [ ]:
my_list = [0, 1, 2]
len(my_list)

3

In [ ]:
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1 # equivalent to i = i + 1

0
1
2

For loop

In [ ]:
range(len(my_list))

range(0, 3)

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

0
1
2

In [ ]:
from tqdm import tqdm
for i in tqdm(range(100000000)):
  pass

 59%|█████▉    | 59145552/100000000 [00:16<00:11, 3632517.57it/s]

KeyboardInterrupt: ignored

In [ ]:
count = 0
for i in ['sattaya', 'santhong']:
  count += 1
  print(count, i)

1 sattaya
2 santhong

In [ ]:
for count, i in enumerate(['sattaya', 'santhong']):
  print("Round I: ", count+1, i)
  for idx, char in enumerate(i):
    if char == 'y': print(f"y is here {idx}")

Round I:  1 sattaya
y is here 5
Round I:  2 santhong

If the goal is simply to iterate over a list, we can do so directly as follows

In [ ]:
for element in my_list:
  print(element)

0
1
2

## Tip! List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
[x-1 for x in nums]

[-1, 0, 1, 2, 3]

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
x = 3
x % 2 == 0

False

In [ ]:
x % 2

1

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [ ]:
[x ** 2 if x % 2 == 0 else x for x in nums]

[0, 1, 4, 3, 16]

## Dictionaries

![image.png]()



```
# This is formatted as code
```

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

In [ ]:
d

{'cat': 'cute', 'dog': 'furry'}

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
for i in d.items(): print(i[0], i[1])

cat cute
dog furry

In [ ]:
d.items()

dict_items([('cat', 'cute'), ('dog', 'furry')])

In [ ]:
d.keys()

dict_keys(['cat', 'dog'])

In [ ]:
d.values()

dict_values(['cute', 'furry'])

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print(f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

## Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals

{'cat', 'dog', 'fish'}

In [ ]:
animals.add('fish')
print(len(animals))

3

In [ ]:
animals

{'cat', 'dog', 'fish'}

In [ ]:
l = [1]
l.append(1)
print(l)

[1, 1]

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))  
print(animals)

3
{'fish', 'cat', 'dog'}

In [ ]:
animals.remove('cat')    # Remove an element from a set
print(len(animals))

2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: fish
#2: cat
#3: dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

In [ ]:
print([int(sqrt(x)) for x in range(30)])

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]

Tip!: Find the unique value from list

In [ ]:
animals_list = ['cat', 'dog', 'cat', 'cat', 'dog']
set(animals_list)

{'cat', 'dog'}

Tip!: Union and Inter-section

In [ ]:
# sets are define
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B)
  
# intersection
print("Intersection :", A & B)
  
# difference
print("Difference :", A - B)
  
# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

## Tuple

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
t = (0,1,2)
print(type(t))

<class 'tuple'>

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d[t])       
print(d[(1, 2)])

<class 'tuple'>
5
1

In [ ]:
d

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [ ]:
t[0] = 1 # error beacuse the tuple is not support for assignment

TypeError: ignored

In [ ]:
tmp_list = []
tmp_list.append("sattaya")
tmp_list.append("singkul")
tmp_list[0] = ''
tmp_list

['', 'singkul']

In [ ]:
tmp_tuple = (2000, 1, 12)
tmp_tuple[0] += 1

TypeError: ignored

In [ ]:
dict_tmp = {"book": "cute"}

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

In [ ]:
def double_twice(x):
  """example"""
  x = x**2
  x += 2
  return x

num = 20
double_twice(num)

402

In [ ]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

To improve code readability, it is sometimes useful to explicitly name the arguments

In [ ]:
square(multiply(a=3, b=2))

36

create anonymous function with Lambda

In [ ]:
ex_function = lambda x: x+1
ex_function(10)

11

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## Class

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable (object property)
        print('Meet '+name)

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

In [ ]:
g = Greeter('Fred')  # Construct an instance of the Greeter class

Meet Fred

In [ ]:
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

In [ ]:
# Create template class (main)
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def getname(self):
    return f"{self.firstname} {self.lastname}"
    
x = Person("John", "Doe")
x.getname()

'John Doe'

In [ ]:
# inheritance Person to child class (Student)
class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.getname()

'Mike Olsen'

In [ ]:
class Student(Person):
  def __init__(self, fname: str, lname: str, year: str):
    super().__init__(fname, lname)
    print(type(year))
    self.graduationyear = year

  def welcome(self):
    return f"Welcome {self.firstname} {self.lastname} to the class of {self.graduationyear}."

x = Student("Mike", "Olsen", 2019)

message = f"""Dear {x.getname()},
{x.welcome()}
"""
print(message)

<class 'int'>
Dear Mike Olsen,
Welcome Mike Olsen to the class of 2019.

In [ ]:
# force to edit property
x.firstname = "Sattaya"
x.lastname = "Singkul"

message = f"""Dear {x.getname()},
{x.welcome()}
"""

print(message)

Dear Sattaya Singkul,
Welcome Sattaya Singkul to the class of 2019.

In [ ]:
assert 10 == 1, "non equal"

AssertionError: ignored

In [ ]:
# assert the value to scope and handle bug
class HeadStudent(Student):
  def __init__(self, fname: str, lname: str, year: str):
    super().__init__(fname, lname, year)
  
  def assign_talk(self, teacher):
    assert type(teacher) == str, "Type is not matach, please input string only."
    return f"The head student is very important and respectful to being an example. {self.firstname} {self.lastname} is proper for this. This role is assigned by {teacher}."

x = HeadStudent("Sataya", "Nadella", 2022)
# x.assign_talk(0)
x.assign_talk("Andrew Ng")

'The head student is very important and respectful to being an example. Sataya Nadella is proper for this. This role is assigned by Andrew Ng.'

## Module

In [ ]:
!ls

sample_data  test.py

In [ ]:
%%writefile test.py

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

  def getname(self):
    return f"{self.firstname} {self.lastname}"

class Student(Person):
  def __init__(self, fname: str, lname: str, year: str):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    return f"Welcome {self.firstname} {self.lastname} to the class of {self.graduationyear}."

class HeadStudent(Student):
  def __init__(self, fname: str, lname: str, year: str):
    super().__init__(fname, lname, year)
  
  def assign_talk(self, teacher):
    assert type(teacher) == str, "Type is not matach, please input string only."
    return f"The head student is very important and respectful to being an example. {self.firstname} {self.lastname} is proper for this. This role is assigned by {teacher}."

Writing test.py

In [ ]:
import test
import importlib
importlib.reload(test) # for reload module, if your module is updated!
x = test.HeadStudent("Hiroshi", "Naka", 2022)

message = f"""Dear {x.getname()},
{x.welcome()}
{x.assign_talk("Mr. Sattaya Singkul")},

Best regards,
SuperAI School
"""

print(message)

Dear Hiroshi Naka,
Welcome Hiroshi Naka to the class of 2022.
The head student is very important and respectful to being an example. Hiroshi Naka is proper for this. This role is assigned by Mr. Sattaya Singkul.,

Best regards,
SuperAI School

In [ ]:
dir(test)

['HeadStudent',
 'Person',
 'Student',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

## Technique!

Data sturcture speed comparison

In [ ]:
import time
iterations = 100000000
start = time.time()
mylist = []
for i in range(iterations):
    mylist.append(i+1)
end = time.time()
print(end - start)


start = time.time()
mylist = [i+1 for i in range(iterations)]
end = time.time()
print(end - start)

24.304837465286255
15.001033067703247

In [ ]:
%%timeit
dictionary = {'North': 'N', 'South': 'S', 'East': 'E', 'West': 'W'}
address = 'North South East West'
for key in dictionary:
    address = address.replace(key, dictionary[key])

In [ ]:
%%timeit
tuple_list = [('North', 'N'), ('South', 'S'), ('East', 'E'), ('West', 'W')]
address = 'North South East West'
for tuple in tuple_list:
    address = address.replace(tuple[0], tuple[1])

In [ ]:
# Try and Exception
for i in range(10):
  try: print(10/(i))
  except: print("error")

In [ ]:
# Try and Exception
for i in range(10):
  try: print(10/(i))
  except Exception as e: print(f"error of 10/{i}: ", e)

## Exercises

**Exercise 1.** Using a conditional, write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [ ]:
def relu(x):
  # Write your function here
  return

assert relu(-3) == 0, "Incorrect"
print("Correct!")

**Exercise 2.** Using a foor loop, write a function that computes the [Euclidean norm](https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm) of a vector, represented as a list.

![image.png]()

In [ ]:
def euclidean_norm(vector):
  # Write your function here
  return

my_vector = [0.5, -1.2, 3.3, 4.5]
# The result should be roughly 5.729746940310715
assert euclidean_norm(my_vector) == 5.729746940310715, "Incorrect"
print("Correct!")

**Exercise 3.** Using a for loop and a conditional, write a function that returns the maximum value in a vector.

In [ ]:
def vector_maximum(vector):
  # Write your function here
  return

my_vector = [0.5, -1.2, 3.3, 4.5]
# The result should be 4.5
assert vector_maximum(my_vector) == 4.5, "Incorrect"
print("Correct!")

**Bonus exercise.** if time permits, write a function that sorts a list in ascending order (from smaller to bigger) using the [bubble sort](https://en.wikipedia.org/wiki/Bubble_sort) algorithm.

![image.png]()

In [ ]:
def bubble_sort(my_list):
  # Write your function here
  return

my_list = [1, -3, 3, 2]
# Should return [-3, 1, 2, 3]
assert bubble_sort(my_list) == [-3, 1, 2, 3], "Incorrect result"
print("Correct!")

**Bonus exercise.** if time permits, create the SuperAIMail class and Student Class for any requirement.


สร้างคลาส 3 คลาส ประกอบด้วย Person, Student, SuperAIMail

create Person class
- Person ใช้เก็บข้อมูลบุคคลพื้นฐาน ประกอบด้วย firstname สำหรับชื่อจริง lastname คือ นามสกุล โดยทุกครั้งที่มีการเพิ่มรายชื่อเข้าไปใหม่จะทำการสร้าง user_id จากบุคคลนั้นผ่านการนำ ชื่อจริง มาต่อกับ นามสกุล ผ่าน "_" โดยใช้ function userid_generate
- function getname ใน Person class จะทำการ return ค่าเป็น ชื่อจริงและนามสกุล ในรูปแบบ tuple

create Student class
- Student ใช้เก็บข้อมูลคล้าย Person แต่เพิ่มข้อมูลเกี่ยวกับประวัติการศึกษาเข้าไป ผ่าน property edu_degree, edu_university, edu_year โดยทุุก property ต้องมี type เป็น string เท่านั้น หาก เป็น type อื่นให้ขึ้น error ว่า "Educational info supports only string type, please assign with string"
- โดยทุกครั้งที่มีการเพิ่มประวัติการศึกษาเข้าไป จะทำการเก็บประวัติไว้ใน dict ชื่อว่า edu_info โดยกำหนดให้ ในหนึ่ง edu_year อาจมีมหาลัยมากกว่าหนึ่งรายละเอียด ซึ่งการเพิ่มดังกล่าวสามารถทำได้ผ่าน function add_edu_info
- สามารถเรียกดู edu_info ได้ ผ่าน function get_edu_info

ตัวอย่างผลลัพธ์ของ get_edu_info()
- ```{"2020-2022":
[{"edu_degree":"M.Sc.", "edu_university": "Thailand"},
{"edu_degree":"M.Sc.", "edu_university": "KUBDC"}]}```

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
    self.user_id = None
    # Write your code here

  def getname(self):
    # Write your code here
  
  def userid_generate(self):
    # Write your code here


class Student(Person):
  def __init__(self, fname, lname, edu_degree, edu_university, edu_year):
    super().__init__(fname, lname)
    self.edu_info = dict()
    # Write your code here
  
  def add_edu_info(self, edu_year, edu_degree, edu_university):
    # Write your code here

  def get_edu_info(self):
    # Write your code here

create SuperAIRegister
-  SuperAIMail เป็น class สำหรับการสร้างข้อความจากข้อมูลที่มีมาแล้วจาก Student class โดยทำผ่าน function respond_mail โดยจะมีข้อความดังนี้ "ยินดีต้อนรับผู้เข้าแข่งขัน [ชื่อ นามสกุล] ทาง SuperAI ยินดีอย่างยิ่งสำหรับการสมัครของท่าน ท่านมีประสบการณ์การศึกษามากมายเป็นจำนวนทั้งหมด [จำนวน degree] วุฒิ เป็นจำนวนปีทั้งหมด [จำนวนปีที่เคยศึกษา] ปี ซึ่งมีจำนวนวุฒิที่ไม่ซ้ำกันถึง [จำนวนวุฒิที่ไม่ซ้ำกัน] วุฒิ"
- หากจำนวนปีที่เคยศึกษาต่ำกว่า 2 ปี function respond_mail จะมีข้อความแทนว่า "ขอแสดงความเสียใจด้วย คุณ [ชื่อ นามสกุล] มีจำนวนปีการศึกษาไม่พอ คุณมีเพียง [จำนวนปีที่เคยศึกษา] ปีเท่านั้น"

In [ ]:
class SuperAIMail:
  def __init__(self, student_obj : Student):
    # Write your code here

  def get_student_info(self):
    # Write your code here

  def respond_mail(self):
    # Write your code here

In [ ]:
student_info = Student(fname="Somsri", lname="Homsina", edu_degree="M.Sc.", edu_university="Lably", edu_year="2019-2022")
student_info.add_edu_info(edu_year="2022-2022", edu_degree="M.ROV", edu_university="Garena")
student_info.add_edu_info(edu_year="2019-2022", edu_degree="M.Luck", edu_university="Heaven")
student_info.add_edu_info(edu_year="2019-2022", edu_degree="B.Luck", edu_university="Heaven")

superai_info = SuperAIMail(student_info)

print("Get Name: ", student_info.getname())
print("user_id: ", student_info.user_id)
print("Educational Info: ", student_info.get_edu_info())
print("Sync Status Info: ", superai_info.get_student_info().get_edu_info() == student_info.get_edu_info())
print("Respond: ", superai_info.respond_mail())

In [ ]:
student_info.add_edu_info(edu_year=2022, edu_degree="B.Luck", edu_university="Heaven") # should be error

สุดท้ายแล้ว ให้ลองนำ Class Person, Student, SuperAIMail มาเรียกใช้ผ่านรูปแบบ module

In [ ]:
%%writefile superaimail.py

In [ ]:
import superaimail as sm
import importlib
importlib.reload(sm) # for reload module, if your module is updated!

student_info = sm.Student(fname="Somsri", lname="Homsina", edu_degree="M.Sc.", edu_university="Lably", edu_year="2019-2022")
student_info.add_edu_info(edu_year="2022-2022", edu_degree="M.ROV", edu_university="Garena")
student_info.add_edu_info(edu_year="2019-2022", edu_degree="M.Luck", edu_university="Heaven")
student_info.add_edu_info(edu_year="2019-2022", edu_degree="B.Luck", edu_university="Heaven")

superai_info = sm.SuperAIMail(student_info)

print("Get Name: ", student_info.getname())
print("user_id: ", student_info.user_id)
print("Educational Info: ", student_info.get_edu_info())
print("Sync Status Info: ", superai_info.get_student_info().get_edu_info() == student_info.get_edu_info())
print("Respond: ", superai_info.respond_mail())

## Going further

Clearly, it is impossible to cover all the language features in this short introduction. To go further, we recommend the following resources:



*   List of Python [tutorials](https://wiki.python.org/moin/BeginnersGuide/Programmers)
* Four-hour [course](https://www.youtube.com/watch?v=rfscVS0vtbw) on Youtube

# NumPy

NumPy is a popular library for storing arrays of numbers and performing computations on them. Not only this enables to write often more succint code, this also makes the code faster, since most NumPy routines are implemented in C for speed.

To use NumPy in your program, you need to import it as follows

In [ ]:
import numpy as np

## Array creation

NumPy arrays can be created from Python lists

In [ ]:
my_array = np.array([1, 2, 3])
my_array

NumPy supports array of arbitrary dimension. For example, we can create two-dimensional arrays (e.g. to store a matrix) as follows

In [ ]:
my_2d_array = np.array([[1, 2, 3], [4, 5, 6]])
my_2d_array

We can access individual elements of a 2d-array using two indices

In [ ]:
my_2d_array[1, 2]

We can also access rows

In [ ]:
my_2d_array[1]

and columns

In [ ]:
my_2d_array[:, 2]

Arrays have a `shape` attribute

In [ ]:
print(my_array.shape)
print(my_2d_array.shape)

Contrary to Python lists, NumPy arrays must have a type and all elements of the array must have the same type.

In [ ]:
my_array.dtype

The main types are `int32` (32-bit integers), `int64` (64-bit integers), `float32` (32-bit real values) and `float64` (64-bit real values).

The `dtype` can be specified when creating the array

In [ ]:
my_array = np.array([1, 2, 3], dtype=np.float64)
my_array.dtype

We can create arrays of all zeros using

In [ ]:
zero_array = np.zeros((2, 3))
zero_array

and similarly for all ones using `ones` instead of `zeros`.

We can create a range of values using

In [ ]:
np.arange(5)

or specifying the starting point

In [ ]:
np.arange(3, 5)

Another useful routine is `linspace` for creating linearly spaced values in an interval. For instance, to create 10 values in `[0, 1]`, we can use

In [ ]:
np.linspace(0, 1, 10)

Another important operation is `reshape`, for changing the shape of an array

In [ ]:
my_array = np.array([1, 2, 3, 4, 5, 6])
my_array.reshape(3, 2)

Play with these operations and make sure you understand them well.

## Basic operations

In NumPy, we express computations directly over arrays. This makes the code much more succint.

Arithmetic operations can be performed directly over arrays. For instance, assuming two arrays have a compatible shape, we can add them as follows

In [ ]:
array_a = np.array([1, 2, 3])
array_b = np.array([4, 5, 6])
array_a + array_b

Compare this with the equivalent computation using a for loop

In [ ]:
array_out = np.zeros_like(array_a)
for i in range(len(array_a)):
  array_out[i] = array_a[i] + array_b[i]
array_out

Not only this code is more verbose, it will also run much more slowly.

In NumPy, functions that operates on arrays in an element-wise fashion are called [universal functions](https://numpy.org/doc/stable/reference/ufuncs.html). For instance, this is the case of `np.sin`

In [ ]:
np.sin(array_a)

Vector inner product can be performed using `np.dot`

In [ ]:
np.dot(array_a, array_b) # 1(4) + 2(5) + 3(6) = 4+10+18 = 32

When the two arguments to `np.dot` are both 2d arrays, `np.dot` becomes matrix multiplication

In [ ]:
array_A = np.random.rand(5, 3)
array_B = np.random.randn(3, 4)
np.dot(array_A, array_B)

Matrix transpose can be done using `.transpose()` or `.T` for short

In [ ]:
array_A.T

## Slicing and masking

Like Python lists, NumPy arrays support slicing

In [ ]:
np.arange(10)[5:]

We can also select only certain elements from the array

In [ ]:
x = np.arange(10)
mask = x >= 5
x[mask]

## Exercises

**Exercise 1.** Create a 3d array of shape (2, 2, 2), containing 8 values. Access individual elements and slices.

**Exercise 2.** Rewrite the relu function (see Python section) using [np.maximum](https://numpy.org/doc/stable/reference/generated/numpy.maximum.html). Check that it works on both a single value and on an array of values.

In [ ]:
def relu_numpy(x):
  return

relu_numpy(np.array([1, -3, 2.5]))

**Exercise 3.** Rewrite the Euclidean norm of a vector (1d array) using NumPy (without for loop)

In [ ]:
def euclidean_norm_numpy(x):
  return

my_vector = np.array([0.5, -1.2, 3.3, 4.5])
euclidean_norm_numpy(my_vector)

**Exercise 4.** Write a function that computes the Euclidean norms of a matrix (2d array) in a row-wise fashion. Hint: use the `axis` argument of [np.sum](https://numpy.org/doc/stable/reference/generated/numpy.sum.html).

In [ ]:
def euclidean_norm_2d(X):
  return

my_matrix = np.array([[0.5, -1.2, 4.5],
                      [-3.2, 1.9, 2.7]])
# Should return an array of size 2.
euclidean_norm_2d(my_matrix)

**Exercise 5.** Compute the mean value of the features in the [iris dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html). Hint: use the `axis` argument on [np.mean](https://numpy.org/doc/stable/reference/generated/numpy.mean.html).

In [ ]:
from sklearn.datasets import load_iris
X, y = load_iris(return_X_y=True)

# Result should be an array of size 4.

## Going further

* NumPy [reference](https://numpy.org/doc/stable/reference/)
* SciPy [lectures](https://scipy-lectures.org/)
*   One-hour [tutorial](https://www.youtube.com/watch?v=QUT1VHiLmmI) on Youtube

# Matplotlib

## Basic plots

Matplotlib is a plotting library for Python.

We start with a rudimentary plotting example.

In [ ]:
from matplotlib import pyplot as plt

x_values = np.linspace(-3, 3, 100)

plt.figure()
plt.plot(x_values, np.sin(x_values), label="Sinusoid")
plt.xlabel("x")
plt.ylabel("sin(x)")
plt.title("Matplotlib example")
plt.legend(loc="upper left")
plt.show()

We continue with a rudimentary scatter plot example. This example displays samples from the [iris dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html) using the first two features. Colors indicate class membership (there are 3 classes).

In [ ]:
from sklearn.datasets import load_iris
X, y = load_iris(return_X_y=True)

X_class0 = X[y == 0]
X_class1 = X[y == 1]
X_class2 = X[y == 2]

plt.figure()
plt.scatter(X_class0[:, 0], X_class0[:, 1], label="Class 0", color="C0")
plt.scatter(X_class1[:, 0], X_class1[:, 1], label="Class 1", color="C1")
plt.scatter(X_class2[:, 0], X_class2[:, 1], label="Class 2", color="C2")
plt.show()

We see that samples belonging to class 0 can be linearly separated from the rest using only the first two features.

## Exercises

**Exercise 1.** Plot the relu and the [softplus](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)#Softplus) functions on the same graph.

What is the main difference between the two functions?

**Exercise 2.** Repeat the same scatter plot but using the [digits dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_digits.html) instead.

In [ ]:
from sklearn.datasets import load_digits
X, y = load_digits(return_X_y=True)

Are pixel values good features for classifying samples?

## Going further

*  Official [tutorial](https://matplotlib.org/tutorials/introductory/pyplot.html)
* [Tutorial](https://www.youtube.com/watch?v=qErBw-R2Ybk) on Youtube